body {
    .title {
        text-align: center;
        padding: 50px;
        background-color: #f3f3f3;
        border: 1px dashed #cccccc
    }

    .actions {
        display: inline-block;

        .add {
            height: 50px;
            width: 50px;
            font-size: 30px;
            font-weight: 100;
            border-radius: 100%;
            line-height: 0;
            vertical-align: baseline;
            padding-top: 0;

        }

        padding: 15px;
    }

    .favorite-currencies {
        background-color: #c0dfcb;
        border: 1px dashed #cccccc
    }

    .currencies {
        background-color: #c5d1d6;
        border-top: 1px solid #cccccc;
    }

    .currencies, .favorite-currencies {
        .currency-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            
            .currency-item {
                background-color: #f6f6f6;
                flex-basis: 20%;
                text-align: center;
                padding: 15px;
                margin: 15px;
            }
        }
    }
}